body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 50px;
  background: red;
  max-width: 1310px;
}

.small-logo {
  height: 20px;
}

a {
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: black;
  line-height: 10px;
  font-size: inherit;
}

header a,
header i {
  color: white;
  position: relative;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.fa-bars {
  font-size: 24px;
  color: #fb9a94;
  padding-left: 20px !important;
}

li {
  color: black;
  position: relative;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  display: inline-block;
}

.subscribe-btn {
  color: #f72210;
  background: white;
  padding: 5px;
}

.header-navbar {
  padding-right: 160px;
  border-bottom: solid 1px lightgrey;
  max-width: 1310px;
  background: white;
}

.form-text {
  top: 10px;
  right: 100px;
}

input {
  border: none;
}

.fa-search {
  top: 20px;
  right: 80px;
  font-size: 15px;
  color: grey;
}

.extra-drop {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 78px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.opinion-details a {
  text-decoration: none;
  color: black;
  line-height: 21px;
  font-weight: 600;
  font-size: 18px;
}

.deb-article a {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.company-links > li > a,
.editions > li > a {
  color: #666;
}

.header-navbar li a {
  padding: 10px calc((100% - 912px) / 24);
  border-left: solid 1px lightgrey;
}

.header-navbar li:nth-child(1) > a {
  border: none;
}

main {
  max-width: 1310px !important;
  padding-top: 20px;
}

.col1-1,
.col1-2 {
  padding: 0 15px;
}

.category-tags {
  bottom: 0;
  left: 0;
  color: #f72210;
  padding: 10px;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  background-color: #f4f5f6 !important;
}

.section-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(3, 3, 3, 0.4);
  padding-bottom: 11px;
}

.opinion-images {
  width: 65px;
  height: 65px;
}

a.opinion-links:hover {
  color: red;
}

.opinion-author {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}

.opinion {
  border-bottom: solid 1px lightgrey;
}

.deb-article {
  border-top: solid 4px red;
  border-bottom: double 4px lightgrey;
  padding-bottom: 10px;
}

.debate-images {
  width: 95px !important;
  height: 95px !important;
}

.deb-details {
  padding-bottom: 3rem;
}

.author-image {
  top: -20px;
  right: 2px;
}

.versus {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/40px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 14px auto 18px;
}

.sponsored {
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.more-story-article {
  border-top: solid 1px lightgrey;
}

.more-stories {
  top: 1rem;
}

.more-stories h4 {
  font-size: 17px;
  line-height: 20px;
}

.culture-title {
  font: 20px/22px serif !important;
}

.culture-tag {
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
}

.latest-image1 {
  background: url("https://d.newsweek.com/en/full/1577266/congress-leaves-town-after-passing-coronavirus-bill.jpg");
  background-size: cover;
}

.latest-image2 {
  background: url("https://d.newsweek.com/en/full/1560486/powerball-mega-millions-tickets.jpg");
  background-size: cover;
}

.latest-image3 {
  background: url("https://d.newsweek.com/en/full/1577227/south-sudan-zero-coronavirus-covid-19-cases.jpg");
  background-size: cover;
}

.latest-image4 {
  background: url("https://d.newsweek.com/en/full/1577219/heidi-tim.jpg");
  background-size: cover;
}

.latest-image5 {
  background: url("https://d.newsweek.com/en/full/1577004/wedding.jpg");
  background-size: cover;
}

.latest-news-images,
.more-story-images {
  float: left;
  margin-right: 1rem;
  width: 95px;
  height: 95px;
}

.more-story1 {
  background: url("https://d.newsweek.com/en/full/1576554/face-mask.webp");
  background-size: cover;
}

.more-story2 {
  background: url("https://d.newsweek.com/en/full/1577128/ex-homeland-secretary-janet-napolitano.webp");
  background-size: cover;
}

.more-story3 {
  background: url("https://d.newsweek.com/en/full/1577175/coronavirus-us.jpg?");
  background-size: cover;
}

.more-story4 {
  background: url("https://d.newsweek.com/en/full/1577256/coronavirus-florida.webp");
  background-size: cover;
}

.more-story5 {
  background: url("https://d.newsweek.com/en/full/1577069/sean-hannity-versus-us-president-donald-trump.jpg");
  background-size: cover;
}

.more-story6 {
  background: url("https://d.newsweek.com/en/full/1577123/coronavirus-covid19-testing-getty.jpg");
  background-size: cover;
}

.more-story7 {
  background: url("https://d.newsweek.com/en/full/1577033/phase-4-coronavirus-stimulus.webp");
  background-size: cover;
}

.more-story8 {
  background: url("https://d.newsweek.com/en/full/1577077/ralph-lauren.webp");
  background-size: cover;
}

.more-story9 {
  background: url("https://d.newsweek.com/en/full/1577086/ice-detention.webp");
  background-size: cover;
}

.more-story10 {
  background: url("https://d.newsweek.com/en/full/1577175/coronavirus-us.jpg?");
  background-size: cover;
}

.newsletter {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.logo-icon {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.mag_span {
  background: #f72210;
  color: white;
  padding: 5px 10px 5px 10px;
}

.mag_a {
  color: #f72210;
}

.magazine_col article div img {
  min-height: 22vh;
}

.bottom-section {
  max-width: 1310px;
  background: white;
}

footer {
  max-width: 1310px;
  background: white;
}

.footer-logo {
  height: 36px;
  padding-right: 1rem;
}

.copyright {
  height: 16px;
}

.social-icons {
  font-size: 32px;
  padding-right: 1rem;
  color: #666;
}

.social-links {
  max-width: 30%;
}

.copy-links {
  border-bottom: solid 1px grey;
}

.last-links {
  padding: auto 8px auto 8px;
  border-right: solid 1px grey;
}

.company-links > li,
.editions > li {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
  color: #d9d9d9;
}

.sec-title {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mag_details {
  font: bold 16px/26px "Roboto Condensed", sans-serif;
}

.featured-slideshow-special {
  width: 70px;
  height: 52px;
  display: block;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e !important;
}

.sub-sized-holder {
  padding-bottom: 13px;
  padding-right: 90px;
}

.sub-sized {
  width: 170px;
}

.new-sub-size {
  top: 13px;
  left: 80px;
}

.newsletter-bottom > article,
.subscribe-bottom > article {
  background: #f4f5f6;
}

.letter {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png) center center / cover no-repeat;
  height: 160px;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .weather {
    display: inline-block !important;
    color: white;
  }

  #moon {
    display: inline-block !important;
  }
}

@media screen and (min-width: 481px) {
  .signin,
  .subscribe-btn {
    font-size: 18px;
  }

  .fa-chevron-right {
    display: inline-block !important;
    color: #f72210;
  }
}

@media screen and (min-width: 641px) {
  #location {
    display: inline-block !important;
  }
}

@media screen and (min-width: 768px) {
  main {
    background: white;
  }

  .col1-1 {
    width: 45% !important;
  }

  .col1-2 {
    width: 55% !important;
  }

  .sponsored-insights {
    margin: 1.5rem auto 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 330px;
  }

  .sponsored-insights article {
    margin-bottom: 2rem;
  }

  .letter {
    min-height: 240px;
    max-width: 260px;
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 95px;
  }

  .small-logo {
    height: 60px;
  }

  main {
    padding: 20px 15px 20px 15px !important;
  }

  .col1 {
    width: 70% !important;
  }

  .col1-1 {
    width: 40% !important;
  }

  .col1-2 {
    width: 60% !important;
  }

  .sponsored-insights {
    width: 100%;
  }
}
